@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

.Login{
    background: rgb(57,6,109);
    background: linear-gradient(90deg, rgba(57,6,109,1) 1%, rgba(13,5,22,1) 100%, rgba(65,4,81,0.6167717086834734) 100%);
}

.login-form{
    background-color: #ffffff;
}
.SignUp{
    background: rgb(57,6,109);
    background: linear-gradient(90deg, rgba(57,6,109,1) 1%, rgba(13,5,22,1) 100%, rgba(65,4,81,0.6167717086834734) 100%);
}

.SignUp-form{
    background-color: #ffffff;
}